
<header>
  <strong><span>&lt;</span>soyjavi<span>&gt;</span></strong>
  <small class="color theme">CREATING STUFF FOR OTHERS</small>
  <nav class="float right">
    <a href="https://github.com/soyjavi", target="_blank" class="icon github"></a>
    <a href="https://twitter.com/soyjavi" target="_blank" class=" icon twitter"></a>
    <a href="http://tapquo.com" target="_blank" class="icon tapquo"></a>
    <a class="icon bitbucket" href="https://bitbucket.com/soyjavi" target="_blank"></a>
    <a class="icon instagram" href="http://instagram.com/soyjavi" target="_blank"></a>
    <a class="icon linkedin" href="https://www.linkedin.com/in/soyjavi" target="_blank"></a>
    <a class="icon pen" href="https://medium.com/@soyjavi" target="_blank"></a>
  </nav>
</header>

<section class="landing filter" data-stellar-background-ratio="0.6">
  <div class="row" data-flex="vertical center">
      <h1><span>&lt;</span>soyjavi<span>&gt;</span></h1>
      <h4 class="color theme">...creating stuff for others</h4>
      <nav>
        <a href="https://github.com/soyjavi" class="icon github" target="_blank"></a>
        <a href="https://twitter.com/soyjavi" class="icon twitter" target="_blank"></a>
        <a class="icon pen" href="https://medium.com/@soyjavi" target="_blank"></a>
        <a class="icon instagram" href="http://instagram.com/soyjavi" target="_blank"></a>
        <a class="icon linkedin" href="https://www.linkedin.com/in/soyjavi" target="_blank"></a>
        <a class="icon bitbucket" href="https://bitbucket.com/soyjavi" target="_blank"></a>
        <a href="http://tapquo.com" class="icon tapquo" target="_blank"></a>
      </nav>
      <small class="more align center"><strong>scroll</strong> down to learn more</small>
  </div>
  <figure class="glass"></figure>
</section>
