@import url("http://fonts.googleapis.com/css?family=Josefin+Sans:300,400,700")
@import url("http://fonts.googleapis.com/css?family=Lato:100,300,700")

/* -- COLORS ---------------------------------------------------------------- */
THEME                   = #45d4c4
THEME = #6D12D8
THEME = #19BFB8
COLOR                   = #8d9aa5
DARK                    = #3d3e41
WHITE                   = #fff
BACKGROUND              = #edeff0
BUTTON                  = darken(BACKGROUND, 15%)

/* -- DIMENSIONS ------------------------------------------------------------ */
UNIT                    = 4rem
SPACE                   = (UNIT / 4)
BORDER_RADIUS           = 0.3rem

/* -- ANIMATION ------------------------------------------------------------- */
ANIMATION_DURATION      = 200ms
ANIMATION_STEPS         = 15
ANIMATION_EASE          = cubic-bezier(0.645, 0.045, 0.355, 1.000)

/* -- FONT ------------------------------------------------------------------ */
FONT_FAMILY             = "Josefin Sans", "Helvetica Neue", "Helvetica", "sans-serif"
FONT_SIZE               = 18px
FONT_SIZE_TINY          = 0.8rem
FONT_SIZE_SMALL         = 0.9rem
FONT_SIZE_NORMAL        = 1.0rem
FONT_SIZE_BIG           = 1.2rem
FONT_WEIGHT_THIN        = 100
FONT_WEIGHT_NORMAL      = 300
FONT_WEIGHT_BOLD        = 700
