body
  > section
    &.landing
      background-image: url("/img/background.jpg")
      background-size: cover !important
      color: WHITE
      padding: (8 * UNIT) 0 (2 * UNIT) 0
      .wrapper
        h1
          font-weight: FONT_WEIGHT_BOLD !important
        small
          display: block
          font-size: FONT_SIZE_BIG
          margin: (UNIT / 2) 0
          a
            margin-left: (SPACE / 2)
        .icon
          margin: 0 SPACE
          font-size: 2rem
          color: WHITE

    nav.list > a
      display: block
      span
        vertical-align: middle
        margin: 0 (SPACE / 2) (SPACE / 2) (SPACE / 2)
        padding: (SPACE / 8) (SPACE / 4)
        font-size: (FONT_SIZE_TINY / 1.4)
        font-weight: FONT_WEIGHT_BOLD
        border: solid .15rem rgba(255,255,255,0.75)
        border-radius: .25rem



  > nav
    padding: (UNIT / 1.5) 0
    > a
      display: inline-block
      width: 50%
      font-size: FONT_SIZE_BIG
      span
        margin: 0 (SPACE / 2.5)
        font-style: italic
