body
  > footer
    padding: (.5 * UNIT) 0
    color: COLOR
    .wrapper
      > *
        vertical-align: middle
    img
      height: SIZE = (UNIT / 1.5)
      width: SIZE
      margin-right: (2 * SPACE)
      border-radius: 50%
      box-shadow: 0 0 0 .15rem WHITE, 0 0 0 .3rem GREEN

    .icon
      font-size: (1.25 * FONT_SIZE_BIG)
      margin-right: SPACE
      color: COLOR
      &:hover
        color: GREEN

    span
      font-size: FONT_SIZE_SMALL
      text-transform: italic
