body
  > section
    &.map
      padding: 0 !important
      position: relative
      background-color: DARK
      height: (9 * UNIT)
      > *
        position: absolute
      > .wrapper
        margin-top: UNIT
        width: 100%
        h2, a
          color: WHITE
          line-height: 100%
        small
          font-size: 60%
        strong
          color: THEME
          font-weight: FONT_WEIGHT_BOLD

      > iframe
        width: 100%
        height: 100%
        opacity: 0.5
