body
  font-family: FONT_FAMILY
  font-size: FONT_SIZE
  font-weight: FONT_WEIGHT_THIN
  line-height: 1.75
  background-color: WHITE

  h1, h2, h3, h4, h5, h6, span, p, div, strong, label
    -webkit-font-smoothing: subpixel-antialiased
    font-smoothing: subpixel-antialiased
    -webkit-text-size-adjust: 100%
    -ms-text-size-adjust: 100%
    text-size-adjust: 100%

  .wrapper
    position: relative
    margin: 0 auto

  .align
    &.center
      text-align: center

  h1
    line-height: 100%
  h3
    font-size: 1.75rem
  p
    font-size: FONT_SIZE_BIG

  .margin
    &.top
      margin-top: (SPACE * 2)
    &.right
      margin-right: (SPACE * 2)
    &.bottom
      margin-bottom: (SPACE * 2)
    &.left
      margin-left: (SPACE * 2)

  .bck
    &, & a
      color: WHITE
    p
      opacity: 0.5
    &.theme
      background: linear-gradient(THEME,lighten(THEME, 30%)),THEME;
    &.dark
      background: linear-gradient(DARK,darken(DARK, 25%)),DARK;
    &.grey
      background: linear-gradient(BACKGROUND,lighten(BACKGROUND, 50%)),BACKGROUND;
      &, & a
        color: COLOR
    &.black
      background: linear-gradient(#000000,#1a232c),#000;

  .color
    &.white
      color: WHITE
    &.theme
      color: THEME

  strong
    font-weight: FONT_WEIGHT_BOLD
