@media (max-width: 400px)
  body
    .hide-phone
      display                       : none
    > section
      &:not(.landing)
        height                      : auto
      & [data-column="6"]
        width                       : 100%
        &[data-flex="vertical center"]
          padding                   : (UNIT / 1.5) (UNIT / 2)
          > p
            text-align              : justify
        &.bck.photo
          height                    : 100vw
      &.landing
        h1
          font-size                 : (1.5 * UNIT) !important

    // -- Products -------------------------------------------------------------
    .products
      > * > strong
        font-size                   : (UNIT / 3) !important
      &:not(.books) > *
        height                      : 25vw !important
      &.books > *
        height                      : 100vw !important
    // -- Map ------------------------------------------------------------------
    .map
      height                        : 100vw !important

@media (max-width: 1024px)
  body
    > section
      h2
        font-size                   : (UNIT / 1.5) !important
      p
        font-size                   : 13px !important
      &:not(.landing)
        height                      : 50vw !important
        & [data-column="6"]
          &[data-flex="vertical center"]
            padding                 : (UNIT / 1.5) (UNIT / 2) !important
    // -- Products -------------------------------------------------------------
    .products
      > *
        > strong
          font-size                 : HEIGHT = (UNIT / 3) !important
          line-height               : HEIGHT
        &:hover
          > *:not(strong)
              display               : none !important
      &:not(.books) > *
        height                      : 12.5vw !important
      &.books > *
        height                      : 50vw !important

