body
  > footer
    position: relative
    height: UNIT
    line-height: UNIT
    margin-top: -(UNIT)
    font-size: FONT_SIZE_NORMAL
    color: COLOR
    background-color: rgba(0,0,0,0.1) !important
