@media (max-width: 400px)
  body
    > header
      > nav
        display                 : none
    > section
      &.landing
        h1
          font-size             : (1.5 * UNIT) !important
        nav > a
          &.tapquo
            display             : none !important
      &.map
        text-align              : center
      &:not(.landing):not(.map)
        h5
          margin-top            : SPACE
          font-weight           : bold
