body
  font-family: FONT_FAMILY
  font-size: FONT_SIZE
  font-weight: FONT_WEIGHT_THIN
  font-size: 100%
  line-height: 1.5
  background-color: WHITE

  .align
    &.center
      text-align: center
  .colhalf
    display: inline-block
    width: 47.5%
    font-size: FONT_SIZE_BIG
    &:nth-child(2)
      margin-right: 5%

  h2
    font-size: 1.75rem
    font-weight: 400 !important
