body
  > header
    z-index: 1980
    position: fixed
    left: 0
    right: 0
    height: UNIT
    padding: 0 SPACE
    line-height: UNIT
    background-color: rgba(0,0,0,0.5)
    color: WHITE
    transform: translateY(-100%)
    transition: all ANIMATION_DURATION ANIMATION_EASE
    &.active
      transform: translateY(0%)
    > *
      display: inline-block
      vertical-align: MIDDLE
    > h1
      margin-right: (SPACE / 2)
      font-size: FONT_SIZE_BIG
      font-weight: FONT_WEIGHT_BOLD
    > small
      opacity: 0.75
    > nav
      float: right
      > *
        color: WHITE
        margin-left: (2.5 * SPACE)
        font-size: FONT_SIZE_SMALL
        &:not(button)
          display: inline-block
          margin: 0 0 0 SIZE = 1.45rem
          vertical-align: middle
          width: SIZE
          height: SIZE
          font-size: SIZE
          opacity: 0.75
          transition all ANIMATION_DURATION ANIMATION_EASE
          &.tapquo
            background-image: url("/assets/img/logo_tapquo.png")
            background-size: cover
          &:hover
            opacity: 1
            transform: scale(1.25)
      > button
        line-height: SPACE
