@import url("http://fonts.googleapis.com/css?family=Dosis:400,800")

// -- CONSTANTS ----------------------------------------------------------------
/* COLORS */
COLOR                       = #FFF
DARK                        = #3d3e41
BACKGROUND                  = #edeff0
THEME                       = #19BFB8
THEME                       = #B99D61
WHITE                       = #fff
BORDER-RADIUS               = 4px

/* FONT */
FONT_FAMILY                 = "Dosis", "Helvetica Neue", "Helvetica", "sans-serif"
FONT_SIZE                   = 1.75em
FONT_SIZE_TINY              = 0.8rem
FONT_SIZE_SMALL             = 0.9rem
FONT_SIZE_NORMAL            = 1.0rem
FONT_SIZE_BIG               = 1.2rem
FONT_WEIGHT_THIN            = 400
FONT_WEIGHT_NORMAL          = 400
FONT_WEIGHT_BOLD            = 800

/* DIMENSIONS */
UNIT                        = 4rem
SPACE                       = (UNIT / 4)
/* ANIMATIONS */
ANIMATION_DURATION          = 350ms
ANIMATION_STEPS             = 15
ANIMATION_EASE              = cubic-bezier(.55,0,.1,1)
