@import url("http://fonts.googleapis.com/css?family=Raleway:300,800")

// -- CONSTANTS ----------------------------------------------------------------
/* COLORS */
COLOR                       = #FFF
DARK                        = #3d3e41
BACKGROUND                  = #edeff0
THEME                       = #19BFB8
WHITE                       = #fff
BORDER-RADIUS               = 4px

/* FONT */
FONT_FAMILY                 = "Raleway", "Helvetica Neue", "Helvetica", "sans-serif"
FONT_SIZE                   = 1.75em
FONT_SIZE_TINY              = 0.8rem
FONT_SIZE_SMALL             = 0.9rem
FONT_SIZE_NORMAL            = 1.0rem
FONT_SIZE_BIG               = 1.2rem
FONT_WEIGHT_THIN            = 300
FONT_WEIGHT_NORMAL          = 300
FONT_WEIGHT_BOLD            = 800

/* DIMENSIONS */
UNIT                        = 4rem
SPACE                       = (UNIT / 4)
/* ANIMATIONS */
ANIMATION_DURATION          = 350ms
ANIMATION_STEPS             = 15
ANIMATION_EASE              = cubic-bezier(0.645, 0.045, 0.355, 1.000)

// -- BASE ---------------------------------------------------------------------
body
  color                     : COLOR
  font-size                 : FONT_SIZE
  font-family               : FONT_FAMILY
  background-color          : lighten(DARK, 5%)
  a
    color                   : COLOR
    text-decoration         : none

.bck
  margin                    : 0
  &.dots
    background              : url("/assets/img/bck.dots.png") repeat top left
  &.dark
    background-color        : DARK
  &.photo
    background-size         : cover
    background-opacity      : 0.5
    background-position     : 0 100%
    -webkit-filter          : VALUE = opacity(0.75) grayscale(0.75)
    -moz-filter             : VALUE
    -o-filter               : VALUE
    -ms-filter              : VALUE
    filter                  : VALUE
    transition                all ANIMATION_DURATION
    &.pool
      background-image    : url("/assets/img/soyjavi.pool.jpg")
    &.walking
      background-image    : url("/assets/img/soyjavi.walking.jpg")
    &.mexico
      background-image    : url("/assets/img/soyjavi.mexico.jpg")
    &.trolley
      background-image    : url("/assets/img/soyjavi.trolley.jpg")
    &.teaching
      background-image    : url("/assets/img/soyjavi.teaching.jpg")
    &.bike
      background-image    : url("/assets/img/soyjavi.bike.jpg")
    &:hover
      -webkit-filter          : VALUE = opacity(1) grayscale(0)
      -moz-filter             : VALUE
      -o-filter               : VALUE
      -ms-filter              : VALUE
      filter                  : VALUE

.color
  &.white
    color                   : WHITE
  &.theme
    color                   : THEME

// -- BUTTON -------------------------------------------------------------------
.button, button, input[type="submit"], input[type="reset"], input[type="button"]
  border                    : 1px solid #bbb
  border-radius             : BORDER-RADIUS
  &:hover, &:focus
    color                   : #333
    border-color            : #888
  &.primary
    color                   : WHITE
    background-color        : THEME
    border-color            : darken(THEME, 5%)
    &:hover, &:focus
      color                 : WHITE
      background-color      : darken(THEME, 10%)
      border-color          : darken(THEME, 15%)

// -- FORM ---------------------------------------------------------------------
input[type="email"], input[type="search"], input[type="text"], input[type="tel"],
input[type="url"], input[type="password"], textarea, select
  background-color          : WHITE
  border                    : 1px solid #D1D1D1
  border-radius             : BORDER-RADIUS
  & :focus
    border                  : 1px solid #33C3F0

// -- TABLE ---------------------------------------------------------------------
table
  th, td
    border-bottom           : 1px solid #E1E1E1

// -- CODE ---------------------------------------------------------------------
code
  background                : darken(BACKGROUND, 5%)
  border                    : 1px solid darken(BACKGROUND, 10%)
  border-radius             : BORDER-RADIUS
