body
  > section
    overflow                              : hidden
    h1
      font-size                           : (2.75 * UNIT)
      margin-bottom                       : SPACE
    h2
      min-width                           : 75%
    h1, h2
      font-weight                         : FONT_WEIGHT_BOLD
      &:before
        content                           : "<"
      &:after
        content                           : ">"
      &:before, &:after
        margin                            : 0 2%
        color                             : alpha(lighten(THEME, 50%), 25%)
    p
      opacity                             : 0.75
      &:not(:last-child)
        margin-bottom                     : SPACE
      &:last-child
        margin-bottom                     : 0
    .map
      border                              : none

    &:not(#intro)
      z-index                             : 2
      position                            : relative
      width                               : 100vw
      height                              : SIZE = 50vw
      display-flex()
      flex-direction                        row
      background-color: DARK
      > *
        width                             : SIZE
        height                            : SIZE
        &[data-flex="vertical center"]
          text-align                      : center
          > *
            padding                       : 0 (2 * UNIT)

    &#intro
      z-index                             : 0
      position                            : fixed
      top                                 : 0
      left                                : 0
      width                               : 100vw
      height                              : 100vh
      > .dots
        z-index: -1
        position                          : absolute
        left    : 0
        top: 0
        width: 100%
        height: 100%
        background-image                  : url("/assets/img/bck.intro.jpg")
        -webkit-filter                    : VALUE = opacity(1) grayscale(0.75)
        -moz-filter                       : VALUE
        -o-filter                         : VALUE
        -ms-filter                        : VALUE
        filter                            : VALUE
      > :not(.dots)
        opacity                           : 0.8
      > nav > a
        margin                            : 0 (SPACE / 1.5)
        width                             : SIZE = (UNIT / 1.75)
        height                            : SIZE
        font-size                         : SIZE
        opacity                           : 0.5
        transition                          opacity ANIMATION_DURATION ANIMATION_EASE
        &:hover
          color                           : THEME
          opacity                         : 1

      > small
        position                          : absolute
        bottom                            : SPACE
        left                              : 0
        right                             : 0
        font-weight                       : FONT_WEIGHT_NORMAL
        text-align                        : center
        color                             : alpha(WHITE, 50%)

    &#about
      margin-top                          : 100vh
