@media (max-width: 400px)
  body
    > section
      h1
        font-size                       : (1.75 * UNIT) !important
      h4
        font-size                       : (UNIT / 1.5)
      .map
        display                         : none

      &:not(#intro)
        flex-direction                    column !important
        height                          : auto !important
        > *
          width                         : 100vw !important
        > .photo:not(.products)
          height                        : 100vw !important
        > [data-flex="vertical center"]
          height                        : auto
          padding                       : UNIT 0
        > :not(.photo)
          order                           -1

      .products
        height                          : auto !important
        flex-direction                    column !important
        > a
          width                         : auto !important
          height                        : auto !important
          padding                       : (2 * SPACE) SPACE !important
          > *
            display                     : block !important
            opacity                     : 1 !important

@media (min-width: 400px)
  body
    > section
      &:not(#intro)
        > *
          &[data-flex="vertical center"]
            opacity                         : 0
            transform                         translateY(25%)
            transition                        all ANIMATION_DURATION ANIMATION_EASE
          &.photo
            opacity                         : 0.25
        &.active
          > [data-flex="vertical center"]
            transform                         translateY(0%)
          > *
            opacity                         : 1 


@media (max-width: 1024px)
  body
    > section
      h2
        font-size                       : (UNIT / 1.5)
      p
        font-size                       : (UNIT / 2.75)
      &:not(#intro)
        > [data-flex="vertical center"] > *
          padding                       : 0 (3 * SPACE) !important
