nav.products
  > a
    margin                            : 0 !important
    height                            : SIZE = (50/3)vw
    width                             : SIZE
    text-align                        : center
    list-style                        : none
    overflow                          : hidden
    padding                           : 0 !important
    &:nth-child(odd)
      background-color                : rgba(0,0,0,0.25)
    > *
      transition                        all ANIMATION_DURATION ANIMATION_EASE
      padding                         : 0 SPACE
    > strong
      display                         : block
      margin-bottom                   : 0
      font-size                       : HEIGHT = (UNIT / 2)
      line-height                     : (1.2 * HEIGHT)
    span
      display                         : inline-block
      margin                          : 0 (SPACE / 4)
      padding                         : 0 (SPACE / 2)
      font-size                       : 12px
      font-weight                     : FONT_WEIGHT_NORMAL
      border-radius                   : .25rem
      background-color                : rgba(0,0,0,0.25)
      opacity                         : 0.9
    > small
      display                         : none
      opacity                         : 0.9
    &:hover
      background-color                : alpha(THEME, 0.5)
      > small
        display                       : block
      > div
        display: none

  &.books > a
    height                            : 50vw
