footer
  position                              : absolute
  bottom                                : SPACE
  left                                  : 0
  width                                 : auto
  padding                               : 0 !important
  font-size                             : 76%
  text-align                            : center
  &
    color                               : alpha(WHITE, 35%)
  > a
    color                               : WHITE
    strong
      color                             : THEME
