@font-face
  font-family: 'icomoon'
  src:url('/assets/fonts/icomoon.eot')
  src:url('/assets/fonts/icomoon.eot') format('embedded-opentype'),
    url('/assets/fonts/icomoon.woff') format('woff'),
    url('/assets/fonts/icomoon.ttf') format('truetype'),
    url('/assets/fonts/icomoon.svg') format('svg')
  font-weight: normal
  font-style: normal


[class^="icon"], [class*=" icon"]
  font-family: 'icomoon'
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale


&.icon
  &.twitter:before
    content: "\f099"
  &.facebook:before
    content: "\f09a"
  &.github:before
    content: "\f09b"
  &.linkedin:before
    content: "\f0e1"
  &.instagram:before
    content: "\f16d"
  &.bitbucket:before
    content: "\f171"
  &.dribbble:before
    content: "\f17d"
  &.skype:before
    content: "\f17e"
  &.medium:before
    content: "\f23a"
