Hola amigo, {{email}}

He recibido tu solicitud de pago de {{amount}}BTC a la direccion de bitcoin {{address}}. Recuerda que necesito al menos 3 confirmaciones en tu transaccion por parte de la red Bitcoin. Una vez tu transaccion este confirmada te enviare un email con la siguiente informacion:

  - Acceso al curso en udemy
  - Acceso al canal privado en discord
  - Acceso a mi canal para una videoconferencia juntos

Pronto comenzaras a disfrutar de `Aprende Blockchain`, espero que te guste y que aprendas mucho, te puedo asegurar que he puesto todo mi corazon y saber hacer en este curso.

@soyjavi
