<nav class='navigation'>
  <a href="https://github.com/soyjavi" class="icon github" target="_blank"></a>
  <a href="https://twitter.com/soyjavi" class="icon twitter" target="_blank"></a>
  <a class="icon linkedin" href="https://linkedin.com/in/soyjavi" target="_blank"></a>
  <a class="icon email" href="mailto:hello@soyjavi.com" target="_blank"></a>
  <a class="icon vcard" href="/assets/docs/Javi Jimenez.vcf"></a>
  {% if page.type != "landing" %}
    <a href='/'>Home</a>
  {% endif %}
  {% if page.type != "newsletter" %}
    <a href="/newsletter/es">Newsletter</a>
  {% endif %}
  {% if page.type != "blog" %}
    <a href="/blog">Blog</a>
  {% endif %}
  {% if page.type != "resume" %}
    <a href="/resume">Resume</a>
  {% endif %}
</nav>
