<h3 id='experience'>Experience</h3>
<ul class='items'>
  <li>
    <h2>UX/UI Team Leader at <a href='https://mediasmart.io' target='_blank'>Mediasmart</a></h2>
    <strong class='text-secondary'>
      Jun, 2015 | Currently
    </strong>
    <span>
      Currently I’m the Head of Frontend Engineering at MediaSmart. I've created from scratch all the new product using ReactJS + CoffeeScript.
    </span>
  </li>

  <li>
    <h2>Tech & Product Advisor at <a href='https://www.billin.net/' target='_blank'>Billin</a></h2>
    <strong class='text-secondary'>
      Oct, 2016 | Jun, 2017
    </strong>
    <span>
      I have been helping this company achieve its objectives, defining both the technological architecture and the UX within their product.
    </span>
  </li>

  <li>
    <h2>Founder at <a href='http://zetapath.com/' target='_blank'>Sohobase LTD.</a></h2>
    <strong class='text-secondary'>
      Feb, 2015 | Currently
    </strong>
    <span>
      I have founded a small agency that develops <i>offline</i> projects with a great technological base.
    </span>
  </li>

  <li>
    <h2>Founder & CTO at <a href='https://github.com/tapquo' target='_blank'>Tapquo</a></h2>
    <strong class='text-secondary'>
      Nov, 2011 | May, 2015
    </strong>
    <span>
      In 2011 I found Tapquo a smart company focused on create web products using Open Standards. As an expert using JavaScript/CoffeeScript my responsibility was create a full-stack expert team using JavaScript, CoffeeScript, NodeJS, MongoDB and Redis. I've created a lot of products and projects for our customers but also we released our own products and share to the community.
    </span>
  </li>

  <li>
    <h2>Teacher at <a href='https://www.ironhack.com/en' target='_blank'>Ironhack</a></h2>
    <strong class='text-secondary'>
      Sep, 2012 | Oct, 2014
    </strong>
    <span>
    </span>

  </li>


  <li>
    <h2>Teacher at <a href='http://www.deusto.es/cs/Satellite/deusto/en/university-deusto' target='_blank'>Deusto University</a></h2>
    <strong class='text-secondary'>
      Sep, 2012 | Oct, 2014
    </strong>
    <span>
    </span>
  </li>

  <li>
    <h2>Senior Developer at <a href='http://www.ibermatica.com/en/ibermatica/who-we-are' target='_blank'>I3B</a></h2>
    <strong class='text-secondary'>
      May, 2006 | Nov, 2011
    </strong>
    <span>
      I work for 5 years por a big Company in Spain. I've created software solutions with .NET technologies like: C#, WPF and Silverlight. In 2009 I moved to Research Department for start creating web solutions with Open Technologies (JavaScript, HTML5 and CSS3).
    </span>
  </li>

  <li>
    <h2>Junior Developer at <a href='http://www.staples.com/' target='_blank'>Staples</a></h2>
    <strong class='text-secondary'>
      Jun, 2001 | May, 2006
    </strong>
    <span>
      I started my job at Staples while still studying at university. I could work with a great team using languages such as C ++ or Abap. I really enjoyed working there because I could also investigate how to create software for internet (my passion).
    </span>
  </li>
</ul>


<h3 id='writings'>Writings</h3>
<ul class='items books'>
  <li class='book'>
    <a href='https://leanpub.com/descubre-react' target='_blank'>
      <img src='/assets/images/book-descubre-react.jpg' alt='Descubre React' />
    </a>
    <div>
      <h2>Book <a href='https://leanpub.com/descubre-react' target='_blank'>Descubre React</a></h2>
      <strong class='text-secondary'>
        Aug, 2015
      </strong>
    </div>
  </li>
  <li class='book'>
    <a href='https://leanpub.com/coffeescript' target='_blank'>
      <img src='/assets/images/book-descubre-coffeescript.jpg' alt='Descubre CoffeeScript' />
    </a>
    <div>
      <h2>Book <a href='https://leanpub.com/coffeescript' target='_blank'>CoffeeScript</a></h2>
      <strong class='text-secondary'>
        Dec, 2013
      </strong>
    </div>
  </li>
  <li class='book'>
    <a href='https://leanpub.com/react-native' target='_blank'>
      <img src='/assets/images/book-descubre-react-native.jpg' alt='Descubre React Native' />
    </a>
    <div>
      <h2>Book <a href='https://leanpub.com/react-native' target='_blank'>React Native</a></h2>
      <strong class='text-secondary'>
        Coming soon
      </strong>
    </div>
  </li>
</ul>


<h3 id='talks'>Speaking</h3>
<ul class='items'>
  <li>
    <h2>Talk <a href='https://www.youtube.com/watch?v=8Epe3y7hP4g' target='_blank'>#OneLifeTicket</a></h2>
    <strong class='text-secondary'>
      Ene, 2017 | Google Campus Madrid
    </strong>
  </li>
  <li>
    <h2>Talk <a href='http://www.meetup.com/madridjs/events/228040034/' target='_blank'>Keep It Simple, use React</a></h2>
    <strong class='text-secondary'>
      Feb, 2016 | MadridJS
    </strong>
  </li>
  <li>
    <h2>Talk <a href='https://www.youtube.com/watch?v=5cFX_WJ8Mos' target='_blank'>#programadorIO</a></h2>
    <strong class='text-secondary'>
      Feb, 2014 | DesarrolloWeb.com
    </strong>
  </li>

  <li>
    <h2>Talk <a href='https://www.youtube.com/watch?v=a1KN1xwmg1c' target='_blank'>Cross-Device Frameworks</a></h2>
    <strong class='text-secondary'>
      Dic, 2013 | Google DevFest
    </strong>
  </li>
  <li>
    <h2>Workshop <a href='https://www.youtube.com/watch?v=a1KN1xwmg1c' target='_blank'>HTML5 Developer</a></h2>
    <strong class='text-secondary'>
      Ene, 2013 | BilboStack
    </strong>
  </li>
  <li>
    <h2>Workshop <a href='https://www.youtube.com/watch?v=9-QTm_PKboQ' target='_blank'>HTML5 Responsive Developer</a></h2>
    <strong class='text-secondary'>
      May, 2012 | HTML5 DevUp
    </strong>
  </li>
  <li>
    <h2>Round Table <a href='https://www.youtube.com/watch?v=tTTLqMw0dys' target='_blank'>El futuro de la Web</a></h2>
    <strong class='text-secondary'>
      May, 2012 | HTML5 DevUp
    </strong>
  </li>
</ul>
