<h3 id='experience'>Experience</h3>
<ul class='items'>
  <li>
    <strong class='text-secondary'>Oct, 2016 | Currently</strong>
    <h2>Head Developer of <a href='http://sohobase.co/' target='_blank'>Sohobase LTD.</a></h2>
    <small class='text-secondary'>
      Blockchain, JavaScript, React/Native & Styled Components.
    </small>
    <span>
      I'm part of this decentralized studio as Head Developer. We are specialists in <i>Crypto</i> projects with a great technological base.
    </span>
  </li>

  <li>
    <strong class='text-secondary'>Jun, 2015 | Nov, 2017</strong>
    <h2>Head of Frontend Engineering at <a href='https://mediasmart.io' target='_blank'>Mediasmart</a></h2>
    <small class='text-secondary'>
      React, PostCSS, Express, Mongo, Redis
    </small>
    <span>
      I was the frontend leader at MediaSmart. In the 2 years I was working with them I designed and built all the new product from scratch.
    </span>
  </li>

  <li>
    <strong class='text-secondary'>Oct, 2016 | Jun, 2017</strong>
    <h2>Tech Advisor at <a href='https://www.billin.net/' target='_blank'>Billin</a></h2>
    <small class='text-secondary'>
      React, CSSModules, Express, MongoDB & Redis.
    </small>
    <span>
      I have been helping this company achieve its objectives, defining both the technological architecture and the UX within their product.
    </span>
  </li>

  <li>
    <strong class='text-secondary'>Nov, 2011 | May, 2015</strong>
    <h2>Founder & CTO at <a href='https://github.com/tapquo' target='_blank'>Tapquo</a></h2>
    <small class='text-secondary'>
      JavaScript, CoffeeScript, Python, MongoDB, Redis, & CSS3.
    </small>
    <span>
      In 2011 I found Tapquo a smart company focused on create web products using Open Standards. As an expert using JavaScript/CoffeeScript my responsibility was create a full-stack expert team using JavaScript, CoffeeScript, NodeJS, MongoDB and Redis. I've created a lot of products and projects for our customers but also we released our own products and share to the community.
    </span>
  </li>

  <li>
    <strong class='text-secondary'>Sep, 2012 | Oct, 2014</strong>
    <h2>Teacher at <a href='https://www.ironhack.com/en' target='_blank'>Ironhack</a></h2>
    <small class='text-secondary'>
      JavaScript & HTML5.
    </small>
    <span>
      I was one of the first teachers of this reputed academy for developers. My specialty was JavaScript as well as all the new concepts that HTML5 brings to the world of web development.
    </span>
  </li>


  <li>
    <strong class='text-secondary'>Sep, 2012 | Oct, 2014</strong>
    <h2>Teacher at <a href='http://www.deusto.es/cs/Satellite/deusto/en/university-deusto' target='_blank'>Deusto University</a></h2>
    <small class='text-secondary'>
      JavaScript & HTML5.
    </small>
    <span>
      I was part of the faculty for the master degree of the university. My specialty was JavaScript as well as all the new concepts that HTML5 brings to the world of web development.
    </span>
  </li>

  <li>
    <strong class='text-secondary'>May, 2006 | Nov, 2011</strong>
    <h2>Senior Developer at <a href='http://www.ibermatica.com/en/ibermatica/who-we-are' target='_blank'>I3B</a></h2>
    <small class='text-secondary'>
      C#, Java, C++, JavaScript, WPF & Oracle.
    </small>
    <span>
      I work for 5 years por a big Company in Spain. I've created software solutions with .NET technologies like: C#, WPF and Silverlight. In 2009 I moved to Research Department for start creating web solutions with Open Technologies (JavaScript, HTML5 and CSS3).
    </span>
  </li>

  <li>
    <strong class='text-secondary'>
      Jun, 2001 | May, 2006
    </strong>
    <h2>Junior Developer at <a href='http://www.staples.com/' target='_blank'>Staples</a></h2>
    <small class='text-secondary'>
      C++, Java & SQL Server
    </small>
    <span>
      I started my job at Staples while still studying at university. I could work with a great team using languages such as C ++ or Abap. I really enjoyed working there because I could also investigate how to create software for internet (my passion).
    </span>
  </li>
</ul>


<h3 id='writings'>Writings</h3>
<p class='summary'>
  I'm a knowledge addict and I've found in writing books a good way to share all my skills/knowledge with the community. Luckily I have managed to hook more than 5000 readers which shows that we need more technical books in spanish.
</p>

<ul class='items books'>
  <li class='book'>
    <a href='https://leanpub.com/descubre-react' target='_blank'>
      <img src='/assets/images/book-descubre-react.jpg' alt='Descubre React' />
    </a>
    <div>
      <h2>Book <a href='https://leanpub.com/descubre-react' target='_blank'>Descubre React</a></h2>
      <strong class='text-secondary'>
        Aug, 2015
      </strong>
    </div>
  </li>
  <li class='book'>
    <a href='https://leanpub.com/coffeescript' target='_blank'>
      <img src='/assets/images/book-descubre-coffeescript.jpg' alt='Descubre CoffeeScript' />
    </a>
    <div>
      <h2>Book <a href='https://leanpub.com/coffeescript' target='_blank'>CoffeeScript</a></h2>
      <strong class='text-secondary'>
        Dec, 2013
      </strong>
    </div>
  </li>
  <li class='book'>
    <a href='https://leanpub.com/react-native' target='_blank'>
      <img src='/assets/images/book-descubre-react-native.jpg' alt='Descubre React Native' />
    </a>
    <div>
      <h2>Book <a href='https://leanpub.com/react-native' target='_blank'>React Native</a></h2>
      <strong class='text-secondary'>
        Coming soon
      </strong>
    </div>
  </li>
</ul>


<h3 id='talks'>Speaking</h3>
<p class='summary'>
  In the last 5 years I have given more than 50 talks on everything related to web development and JavaScript.
</p>
<ul class='items'>
  <li>
    <h2>Talk <a href='https://www.youtube.com/watch?v=8Epe3y7hP4g' target='_blank'>#OneLifeTicket</a></h2>
    <strong class='text-secondary'>
      Ene, 2017 | Google Campus Madrid
    </strong>
  </li>
  <li>
    <h2>Talk <a href='http://www.meetup.com/madridjs/events/228040034/' target='_blank'>Keep It Simple, use React</a></h2>
    <strong class='text-secondary'>
      Feb, 2016 | MadridJS
    </strong>
  </li>
  <li>
    <h2>Talk <a href='https://www.youtube.com/watch?v=5cFX_WJ8Mos' target='_blank'>#programadorIO</a></h2>
    <strong class='text-secondary'>
      Feb, 2014 | DesarrolloWeb.com
    </strong>
  </li>

  <li>
    <h2>Talk <a href='https://www.youtube.com/watch?v=a1KN1xwmg1c' target='_blank'>Cross-Device Frameworks</a></h2>
    <strong class='text-secondary'>
      Dic, 2013 | Google DevFest
    </strong>
  </li>
  <li>
    <h2>Workshop <a href='https://www.youtube.com/watch?v=a1KN1xwmg1c' target='_blank'>HTML5 Developer</a></h2>
    <strong class='text-secondary'>
      Ene, 2013 | BilboStack
    </strong>
  </li>
  <li>
    <h2>Workshop <a href='https://www.youtube.com/watch?v=9-QTm_PKboQ' target='_blank'>HTML5 Responsive Developer</a></h2>
    <strong class='text-secondary'>
      May, 2012 | HTML5 DevUp
    </strong>
  </li>
  <li>
    <h2>Round Table <a href='https://www.youtube.com/watch?v=tTTLqMw0dys' target='_blank'>El futuro de la Web</a></h2>
    <strong class='text-secondary'>
      May, 2012 | HTML5 DevUp
    </strong>
  </li>
</ul>
