<div class='title {% if page.type != "landing" %}fixed{% endif %}'>
  <a href='/'>
    <img src='/assets/images/soyjavi.jpg' />
  </a>
  <h1>SOY<strong>JΛVI</strong></h1>
  <h3 class='text-secondary'>A self-taught, in love with creating new stuff.</h3>
  {% if page.type == "landing" %}
    <p>
      "Unlearning what I have learned.” · #opensource lover · from #bilbao · perpetual #traveller · #hodl ₿
    </p>

  {% elsif page.type == "resume" %}
    <a href='/resume' class='button' onClick='window.print();'>Download Resume</a>
  {% endif %}
</div>
