<div class='title {% if page.type != "landing" %}fixed{% endif %}'>
  <a href='/'>
    <img src='/assets/images/soyjavi.png' />
  </a>
  <h1>Javi Jimenez</h1>
  <strong class='text-secondary'>A self-taught, in love with creating new stuff.</strong>
  {% if page.type == "landing" %}
    <p>
      a software engineer who travels around the world who currently leads Frontend team at <a href='http://mediasmart.io' target='_blank'>MediaSmart</a>
    </p>

  {% elsif page.type == "resume" %}
    <p>
      <a href='#'>Download Resume</a>
    </p>
  {% endif %}
</div>
