.banner {
  background-color: var(--color-skeleton);
  border-radius: var(--border-radius);
  margin-bottom: calc(var(--unit) * 2);
  padding: var(--space);
  padding-left: calc(var(--space-XL) * 3.5);
  overflow: hidden;
  position: relative;
  text-align: left;
  transition: background var(--animation);
  width: 100%;
}

.banner h2 {
  font-size: var(--font-size-L);
  line-height: 115%;
}

.banner p {
  margin: var(--space-S) 0;
  font-size: var(--font-size-S);
}

.banner .button {
  display: inline-block;
}

/* -- Images -- */
  .banner:before {
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    transform: translateX(20%) translateY(15%) scale(1.25);
    width: calc(var(--unit) * 20);
    z-index: 0;
  }

  .banner.blockchain:before {
    background-image: url('../../public/banner-gold.png');
  }
  .banner.subscribe:before {
    background-image: url('../../public/banner-bitcoin-ballons.png');
  }

@media (max-width: 767px) {
  .banner { padding: var(--unit); }
  .banner h2 {
    font-size: var(--font-size);
    max-width: 90%;
  }
  .banner p {
    font-size: var(--font-size-XS);
    max-width: 78%;
    text-align: justify;
  }
  .banner:before {
    z-index: 0;
    left: none;
    right: 0;
    transform: translateX(70%) translateY(10%) scale(0.75);
  }
}

/*
@media (min-width: 768px) {
  .banner.course {
    padding-bottom: var(--space-XL);
    padding-top: var(--space-XL);
    padding-right: var(--space-XL);
  }
  .banner.course h2, .banner.course p {
    max-width: 68%;
  }
}
*/
