[data-page="error"] {
  padding-top: calc(var(--unit) * 9);
  text-align: justify;
  max-width: var(--wrapper-post);
  margin: 0 auto;
}

[data-page="error"] .rocket {
  position: absolute;
  bottom: 0;
  right: 0;
  max-height: 40vh;
  z-index: -1;
}

[data-page="error"] .banner {
  margin-top: var(--space);
}

@media (max-width: 767px) {
  [data-page="error"] {
    padding: var(--space-XL) var(--unit);
  }
}
