#button-theme {
  bottom: var(--space);
  height: calc(var(--unit) * 2.8);
  padding: 0;
  position: fixed;
  right: var(--space);
  width: calc(var(--unit) * 2.8);
}

footer {
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-S);
  margin-top: calc(var(--unit) * 4);
  margin-bottom: calc(var(--unit) * 2);
  align-items: center;
}
  footer > * { margin: calc(var(--unit) / 4) 0; }
  footer a:not(:last-child) { margin-right: var(--unit); }

@media (max-width: 767px) {
  #button-theme {
    bottom: var(--unit);
    right: var(--unit);
  }

  footer {
    align-items: flex-start;
    margin: var(--unit);
  }
}
