header {
  background: var(--bg-color);
  padding: var(--space);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  transition: background var(--animation);
  width: 100%;
  z-index: 1;
}
  header.shadow {
    border-bottom: 1px solid var(--color-skeleton);
    box-shadow: 0 4px 20px rgba(16,19,20,.04);
  }

  body:not([data-page="home"]) header .wrapper {
    margin: 0 auto;
    max-width: var(--wrapper);
  }

  body:not([data-page="home"]) header nav {
    justify-content: flex-end;
    align-self: flex-start;
    flex: 1;
  }

  header strong {
    font-size: var(--font-size);
  }
    header strong > small {
      background-color: var(--color-accent);
      border-radius: var(--border-radius);
      bottom: 0.1rem;
      color: #222;
      font-size: var(--font-size-XS);
      margin-left: 0.5rem;
      padding: 0.15rem 0.3rem;
      position: relative;
      text-transform: uppercase;
    }
    [data-page="home"] header strong > small {
      display: none;
    }

  header nav {
    margin-left: var(--space);
  }
    header nav > *:not(.button) {
      font-weight: bold;
      font-size: var(--font-size-XS);
      padding: var(--space-XS) var(--space-S);
    }

@media (max-width: 767px) {
  header {
    padding: var(--unit);
  }

  header nav {
    justify-content: flex-end;
    align-self: flex-start;
    flex: 1;
  }

  header nav > *:not(.button) {
    display: none;
  }
}
