[data-page="home"] {
  /*background: url("../../../public/clouds.jpg") repeat 0/auto;*/
  background-opacity: 0.5;
}

[data-page="home"] header {
}

[data-page="home"] header h1 {
  margin-right: var(--space);
}

[data-page="home"] section:first-child {
  padding: var(--space);
  max-width: 512px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  /*align-items: flex-end;*/
}

[data-page="home"] h2 {
  font-size: var(--font-size-XL);
  font-weight: normal;
  line-height: 135%;
}

[data-page="home"] h2 + small {
  color: var(--color-lighten);
  font-size: var(--font-size);
  margin-top: calc(var(--space) * 0.5);
  margin-bottom: calc(var(--space) * 2);
}

[data-page="home"] .background {
  position: absolute;
  width: 40vw;
  max-width: 640px;
  bottom: var(--space);
  right: var(--space);
}

@media (max-width: 767px) {
}

@media (max-width: 1024px) {
  [data-page="home"] .content:not(.featuredPosts) { flex-direction: column; }
    [data-page="home"] .content > * { max-width: 100%; }

  [data-page="home"] footer { display: none }
}
