[data-page="home"] {
  background: url("../../public/clouds.jpg") repeat 0/auto;
  overflow: hidden;
}

[data-page="home"] section {
  padding: var(--space);
  max-width: 512px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

[data-page="home"] h2 {
  font-size: var(--font-size-XL);
  font-weight: normal;
}

[data-page="home"] p {
  font-size: var(--font-size);
  margin-top: var(--space);
  margin-bottom: var(--space-L);
}

[data-page="home"] .image {
  position: absolute;
  height: 68vh;
  max-width: 640px;
  bottom: var(--space-XL);
  right: var(--space-XL);
}

@media (max-width: 767px) {
  [data-page="home"] { background-size: contain; }
  [data-page="home"] section { padding: var(--unit); }
  [data-page="home"] h2 { font-size: var(--font-size-L); font-weight: bold; max-width: 90%; }
  [data-page="home"] p { font-size: var(--font-size-XS); margin-top: var(--space-XS); margin-bottom: var(--space); }
  [data-page="home"] .image { height: 50vh; bottom: 35vh; }
}
