[data-page="home"] {
  background: url("../../public/clouds.jpg") repeat 0/auto;
  overflow: hidden;
}

[data-page="home"] section {
  padding: var(--space);
  max-width: 512px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

[data-page="home"] h2 {
  font-size: var(--font-size-XL);
  font-weight: normal;
}

[data-page="home"] p {
  font-size: var(--font-size);
  margin-top: var(--space);
  margin-bottom: var(--space-L);
}

[data-page="home"] .background {
  background-color: transparent;
  position: absolute;
  height: 68vh;
  max-width: 640px;
  bottom: var(--space-XL);
  right: var(--space-XL);
}

@media (max-width: 767px) {
  [data-page="home"] section {
    padding: var(--unit);
  }

  [data-page="home"] h2 {
    font-size: var(--font-size-L);
    font-weight: bold;
    max-width: 90%;
  }

  [data-page="home"] p {
    font-size: var(--font-size-S);
    margin-top: var(--space-S);
    margin-bottom: var(--space);
  }

  [data-page="home"] .background {
    height: 50vh;
    /*max-width: 320px;*/
    bottom: 35vh;
    /*right: var(--space-XL);*/
  }
}

@media (max-width: 1024px) {
}
