:root {
  --bg-color: white;
  --bg-opacity: rgba(255,255,255,0.85);
  --color: #333;
  --color-lighten: #666;
  --color-accent: #F9B92D;
  --color-hover: blue;
  --color-skeleton: #eee;

  --color-ledger: #272526;
  --color-coinbase: rgb(22, 82, 240);
  --color-trezor: #01B757;
  --color-dashlane: #007c97;
  --color-bullionstar: #dc8500;

  --font: 'Product Sans', sans-serif;
  --font-content: 'Cardo', serif;
  --font-size-XL: 3.2rem;
  --font-size-L: 2.0rem;
  --font-size: 1.2rem;
  --font-size-S: 1.0rem;
  --font-size-XS: 0.85rem;
  --font-size-markdown: 1.4rem;

  --unit: 1rem;
  --space-XL: 4rem;
  --space-L: 2.4rem;
  --space: 1.6rem;
  --space-S: 0.8rem;
  --space-XS: 0.6rem;

  --border-radius: 0.2rem;

  --wrapper: 1120px;
  --wrapper-content: 1024px;
  --wrapper-post: 680px;
  --mobile: 768px;
  --tablet: 1024px;

  --animation: 300ms ease-in-out;
}

@import './common.css';

/* -- views -- */
@import './home.css';
@import './post.css';
@import './course.css';
@import './error.css';

/* -- components -- */
@import './header.css';
@import './footer.css';
@import './banner.css';
@import './dialog.css';
