<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>soyjavi</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/assets/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/assets/css/soyjavi.dependencies.css">
    <link rel="stylesheet" href="/assets/css/soyjavi.css">
  </head>
  <body data-page="404">
    <h1>404</h1>
  </body>
</html>
