
<header>
  <h1>JAVI JIMENEZ</h1>
  <small class="color theme">MAKE STUFF FOR OTHERS</small>
  <nav class="float right">
    <a href="https://github.com/soyjavi", target="_blank" class="icon github"></a>
    <a href="https://twitter.com/soyjavi" target="_blank" class=" icon twitter"></a>
    <a href="http://tapquo.com" target="_blank" class="icon tapquo"></a>
    <a class="icon bitbucket" href="https://bitbucket.com/soyjavi" target="_blank"></a>
    <a class="icon instagram" href="http://instagram.com/soyjavi" target="_blank"></a>
    <a class="icon linkedin" href="https://www.linkedin.com/in/soyjavi" target="_blank"></a>
    <a class="icon pen" href="https://medium.com/@soyjavi" target="_blank"></a>
  </nav>
</header>

<section class="landing filter" data-stellar-background-ratio="0.6">
  <figure class="glass"></figure>
  <div class="wrapper align center">
      <h1 class="font weight bold">JAVI JIMENEZ</h1>
      <small class="color theme">MAKE STUFF FOR OTHERS • <a href="/" class="color theme">@soyjavi</a></small>
      <nav>
        <a href="https://github.com/soyjavi" class="icon github" target="_blank"></a>
        <a href="https://twitter.com/soyjavi" class="icon twitter" target="_blank"></a>
        <a href="http://tapquo.com" class="icon tapquo" target="_blank"></a>
      </nav>
      <div class="more">scroll down to learn more</div>
  </div>
</section>

<section class="bck dark">
  <div class="wrapper">
    <h3 class="align center margin bottom">
      This site is my <span class="color theme">personal</span> design
      playground. I created it to encourage myself to keep having fun with
      design – to experiment and <span class="color theme">explore</span> the
      craft outside of my comfort zone.
    </h3>
    <p class="col half">
      I consider myself a maverick by nature and therefore I always going
      against the grain. I try to improve my knowledge and thinking for new
      ways to create software. In 2011 I founded Tapquo, a small company
      specializing in the creation of products for internet, which has given
      me the opportunity to create solutions for thousands of people around
      the world.
    </p>
    <p class="col half">
      I am currently researching new ways of working through the software.
      My adventure is giving me the opportunity to travel around the world
      looking for new poles of creation, innovation and improvement.
      Everyday I remember only live once and we should achieve our dreams.
      I'm living mine today and I feel lucky.
    </p>
  </div>
</section>

<section class="bck theme">
  <div class="wrapper">
    <h2 class="align center margin bottom">I'm currently building:</h2>
    <div class="col third">
      <h3>Tools & Libraries</h3>
      <nav class="list">
        <a href="http://github.com/soyjavi" target="_blank">Zen Server<span>Coming Soon</span></a>
        <a href="http://atoms.tapquo.com/" target="_blank">Atoms</a>
        <a href="http://quojs.tapquo.com/" target="_blank">QuoJS</a>
        <a href="http://tuktuk.tapquo.com/" target="_blank">TukTuk</a>
        <a href="http://lungo.tapquo.com/" target="_blank">Lungo</a>
        <a href="http://monocle.tapquo.com/" target="_blank">Monocle</a>
      </nav>
    </div>

    <div class="col third">
      <h3>Web Products</h3>
      <nav class="list">
        <a href="http://nomada.io" target="_blank">Nomada<span>COMING SOON</span></a>
        <a href="http://mentorco.de" target="_blank">Mentorcode<span>COMING SOON</span></a>
        <a href="http://atoms.tapquo.com" target="_blank">Atoms.Editor</a>
        <a href="http://nomadco.de" target="_blank">Nomadcode</a>
        <a href="http://devcast.co" target="_blank">Devcast</a>
      </nav>
    </div>

    <div class="col third">
      <h3>Books</h3>
      <nav class="list">
        <a href="https://leanpub.com/nomadasdigitales" target="_blank">Nómadas digitales<span>COMING SOON</span></a>
        <a href="https://leanpub.com/ecmascript6" target="_blank">EcmaScript 6<span>COMING SOON</span></a>
        <a href="https://leanpub.com/coffeescript" target="_blank">Little Book of CoffeeScript</a>
      </nav>
    </div>
  </div>
</section>

<section class="bck dark">
  <div class="wrapper">
    <h3 class="align center margin bottom">I am a human with a purpose, I love sharing the knowledge</h3>
    <div class="col third">
      <h2>Teach</h2>
      <nav class="list">
        <a href="http://www.postgrado.deusto.es/cs/Satellite/estudiantes/es/buscador-de-postgrados/diploma-de-especializacion-en-soluciones-software-para-internet-/programa" target="_blank>">Postgraduate University of Deusto<span>COLLEGE</span></a>
        <a href="http://ironhack.com" target="_blank>">IronHack<span>COURSE</span></a>
      </nav>
    </div>

    <div class="col third">
      <h2>Speak</h2>
      <nav class="list">
        <a href="https://www.youtube.com/watch?v=tTTLqMw0dys" target="_blank>">DevUp12: El futuro de la Web<span>ROUND TABLE</span></a>
        <a href="https://www.youtube.com/watch?v=9-QTm_PKboQ" target="_blank>">HTML5 Responsive Developer<span>HTML5</span></a>
        <a href="https://www.youtube.com/watch?v=-5oUAN93L4k" target="_blank>">Google DevFest '12<span>MOBILE</span></a>
        <a href="http://www.ustream.tv/recorded/50260074" target="_blank>">WeLoveJS Summer 2014<span>PATTERNS</span></a>
        <a href="https://www.youtube.com/playlist?list=PLfV0zqBbpS8ieYtbqUlO1gwqQbxKH28Vu" target="_blank>">DesarrolloWeb Hangouts<span>MOBILE</span></a>
        <a href="https://www.youtube.com/watch?v=a1KN1xwmg1c" target="_blank>">BilboStack<span>MOBILE</span></a>
        <a href="http://bambuser.com/v/3964261" target="_blank>">Anesvad Apps4Health<span>HACKS</span></a>
      </nav>
    </div>

    <div class="col third">
      <h2>Read</h2>
      <nav class="list">
        <a href="http://www.elmundo.es/elmundo/2012/02/13/paisvasco/1329124434.html" target="_blank>">Una tecnología más rentable<span>NEWSPAPER</span></a>
        <a href="http://www.elmundo.es/elmundo/2012/02/13/paisvasco/1329124434.html" target="_blank>">Se hace fuerte en el mercado<span>NEWSPAPER</span></a>
        <a href="http://www.genbetadev.com/entrevistas/entrevista-a-javier-jimenez-villar-autor-de-lungojs" target="_blank>">GenbetaDev<span>Interview</span></a>
        <a href="" target="_blank>">Libro CoffeeScript<span>Promotion</span></a>
        <a href="http://gananzia.com/tapquo-y-el-futuro-movil" target="_blank>">Tapquo y el futuro móvil<span>POST</span></a>
      </nav>
    </div>
  </div>
</section>

<section class="map">
  <iframe frameBorder='0' src='https://a.tiles.mapbox.com/v4/soyjavi.jok2eike/attribution.html?access_token=pk.eyJ1Ijoic295amF2aSIsImEiOiJMVjUxV1hjIn0.Cmsx5TE3grlCl69EjIeAUA'></iframe>
  <div class="wrapper align center">
    <h2>I'm currently in <strong class="color theme">Chiang Mai</strong><small>, Thailand</small></h2>
    <h3>
      <a href="mailto:hi@soyjavi.com">Feel free to contact me for <strong class="color theme">project inquiries</strong>.</a>
    </h3>
  </div>
</section>

<footer class="copyright align center">© Javi Jiménez 2014</footer>
