
<header>
  <strong><span>&lt;</span>soyjavi<span>&gt;</span></strong>
  <small class="color theme">CREATING STUFF FOR OTHERS</small>
  <nav class="float right">
    <a href="https://github.com/soyjavi", target="_blank" class="icon github"></a>
    <a href="https://twitter.com/soyjavi" target="_blank" class=" icon twitter"></a>
    <a href="http://tapquo.com" target="_blank" class="icon tapquo"></a>
    <a class="icon bitbucket" href="https://bitbucket.com/soyjavi" target="_blank"></a>
    <a class="icon instagram" href="http://instagram.com/soyjavi" target="_blank"></a>
    <a class="icon linkedin" href="https://www.linkedin.com/in/soyjavi" target="_blank"></a>
    <a class="icon pen" href="https://medium.com/@soyjavi" target="_blank"></a>
  </nav>
</header>

<section class="landing filter" data-stellar-background-ratio="0.6">
  <div class="row" data-flex="vertical center">
      <h1><span>&lt;</span>soyjavi<span>&gt;</span></h1>
      <h4 class="color theme">...creating stuff for others</h4>
      <nav>
        <a href="https://github.com/soyjavi" class="icon github" target="_blank"></a>
        <a href="https://twitter.com/soyjavi" class="icon twitter" target="_blank"></a>
        <a class="icon pen" href="https://medium.com/@soyjavi" target="_blank"></a>
        <a class="icon instagram" href="http://instagram.com/soyjavi" target="_blank"></a>
        <a class="icon linkedin" href="https://www.linkedin.com/in/soyjavi" target="_blank"></a>
        <a class="icon bitbucket" href="https://bitbucket.com/soyjavi" target="_blank"></a>
        <a href="http://tapquo.com" class="icon tapquo" target="_blank"></a>
      </nav>
      <small class="more align center"><strong>scroll</strong> down to learn more</small>
  </div>
  <figure class="glass"></figure>
</section>

<section class="bck dark">
  <div class="container">
    <div class="row">
      <h5 class="align center">
        This site is my <strong class="color theme">personal</strong> design
        playground. I created it to encourage myself to keep having fun with
        design – to experiment and <strong class="color theme">explore</strong> the
        craft outside of my comfort zone.
      </h5>
    </div>
    <div class="row">
      <p data-column="6">
        I consider myself a maverick by nature and therefore I always going
        against the grain. I try to improve my knowledge and thinking for new
        ways to create software. In 2011 I founded Tapquo, a small company
        specializing in the creation of products for internet, which has given
        me the opportunity to create solutions for thousands of people around
        the world.
      </p>
      <p data-column="6">
        I am currently researching new ways of working through the software.
        My adventure is giving me the opportunity to travel around the world
        looking for new poles of creation, innovation and improvement.
        Everyday I remember only live once and we should achieve our dreams.
        I'm living mine today and I feel lucky.
      </p>
    </div>
  </div>
</section>

<section class="bck theme">
  <div class="container">
    <div class="row">
      <h1 class="align center margin bottom">I'm currently <strong>creating</strong>:</h1>
    </div>
    <div class="row">
      <div data-column="4">
        <h5>Tools & Libraries</h5>
        <nav>
          <a href="http://atoms.tapquo.com/" target="_blank" class="main">
            {{! <img src="/assets/img/thumb.site.atoms.png"/> }}
            Atoms<span>coffeescript</span><span>css3</span>
            <small>Build Reactive & Atomic Web Applications</small></a>
          <a href="http://getflexo.com" target="_blank">Flexo<span class="soon">Coming Soon</span><span>css3</span>
            <small>A dead simple, responsive & flexible boilerplate.</small></a>
          <a href="http://quojs.tapquo.com/" target="_blank">QuoJS<span>coffeescript</span>
            <small>Manage any gesture in your mobile apps</small></a>
          <a href="http://github.com/soyjavi/zen" target="_blank">Zen<span>nodejs</span>
            <small>a lean and mean https server for node.js</small></a>
          <a href="http://lungo.tapquo.com/" target="_blank">Lungo<span>js</span><span>css3</span><span>html</span>
            <small>HTML5 framework for your mobile apps</small></a>
          <a href="http://monocle.tapquo.com/" target="_blank">Monocle<span>coffeescript</span>
            <small>MVC Framework for CoffeeScript Apps</small></a>
        </nav>
      </div>

      <div data-column="4">
        <h5>Web Products</h5>
        <nav>
          <a href="https://mistery.url" target="_blank" class="main">
            Oizio<span>SOCIAL MARKETING</span>
            <small>Create social & viral campaigns easily</small></a>
          <a href="https://nomada.io" target="_blank" class="main">
            {{! <img src="/assets/img/thumb.site.nomada.png"/> }}
            Nomada<span>E-COMMERCE</span>
            <small>Best products to travel the world</small></a>
          <a href="http://atoms.tapquo.com" target="_blank">Atoms.Editor<span>App Editor</span>
            <small>Create Web Apps only with drag & drop</small></a>
          <a href="http://nomadco.de" target="_blank">Nomadcode<span>Project Management</span>
            <small>Work &amp; code better, together.</small></a>
          <a href="http://devcast.co" target="_blank">Devcast<span>E-COMMERCE</span>
            <small>Top video for web developers</small></a>
        </nav>
      </div>

      <div data-column="4">
        <h5>Books</h5>
        <nav>
          <a href="https://leanpub.com/coffeescript" target="_blank" class="main">
            {{! <img src="/assets/img/thumb.site.coffeescriptbook.png"/> }}
            Little Book of CoffeeScript<span>FREE</span></a>
          <a href="https://leanpub.com/nomadasdigitales" target="_blank">Nómadas digitales<span class="soon">COMING SOON</span></a>
          <a href="https://leanpub.com/ecmascript6" target="_blank">EcmaScript 6<span class="soon">COMING SOON</span></a>

        </nav>
      </div>
    </div>
  </div>
</section>

<section class="bck dark">
  <div class="container">

    <div class="row">
      <h4 class="align center margin bottom">I am a <strong class="color theme">human</strong> with a purpose, I love sharing <strong class="color theme">knowledge</strong></h4>
    </div>
    <div class="row">
      <div data-column="4">
        <h1 class="color theme">Teach</h1>
        <nav>
          <a href="http://www.postgrado.deusto.es/cs/Satellite/estudiantes/es/buscador-de-postgrados/diploma-de-especializacion-en-soluciones-software-para-internet-/programa" target="_blank>">University of Deusto<span>COLLEGE</span></a>
          <a href="http://ironhack.com" target="_blank>">IronHack<span>COURSE</span></a>
        </nav>
      </div>

      <div data-column="4">
        <h1 class="color theme">Speak</h1>
        <nav>
          <a href="https://www.youtube.com/watch?v=tTTLqMw0dys" target="_blank>">DevUp12: Future of www<span>ROUND TABLE</span></a>
          <a href="https://www.youtube.com/watch?v=9-QTm_PKboQ" target="_blank>">HTML5 Responsive Developer<span>HTML5</span></a>
          <a href="https://www.youtube.com/watch?v=-5oUAN93L4k" target="_blank>">Google DevFest '12<span>MOBILE</span></a>
          <a href="http://www.ustream.tv/recorded/50260074" target="_blank>">WeLoveJS Summer '14<span>PATTERNS</span></a>
          <a href="https://www.youtube.com/playlist?list=PLfV0zqBbpS8ieYtbqUlO1gwqQbxKH28Vu" target="_blank>">DesarrolloWeb Hangouts<span>MOBILE</span></a>
          <a href="https://www.youtube.com/watch?v=a1KN1xwmg1c" target="_blank>">BilboStack '12<span>MOBILE</span></a>
          <a href="http://bambuser.com/v/3964261" target="_blank>">Anesvad Apps4Health '13<span>HACKS</span></a>
        </nav>
      </div>

      <div data-column="4">
        <h1 class="color theme">Read</h1>
        <nav>
          <a href="http://www.elmundo.es/elmundo/2012/02/13/paisvasco/1329124434.html" target="_blank>">Una tecnología más rentable<span>NEWSPAPER</span></a>
          <a href="http://www.elmundo.es/elmundo/2012/02/13/paisvasco/1329124434.html" target="_blank>">Se hace fuerte en el mercado<span>NEWSPAPER</span></a>
          <a href="http://www.genbetadev.com/entrevistas/entrevista-a-javier-jimenez-villar-autor-de-lungojs" target="_blank>">GenbetaDev<span>Interview</span></a>
          <a href="" target="_blank>">Libro CoffeeScript<span>Promotion</span></a>
          <a href="http://gananzia.com/tapquo-y-el-futuro-movil" target="_blank>">Tapquo y el futuro móvil<span>POST</span></a>
        </nav>
      </div>
    </div>
  </div>
</section>

<section class="map color white">
  <iframe frameBorder='0' src='https://a.tiles.mapbox.com/v4/soyjavi.jok2eike/attribution.html?access_token=pk.eyJ1Ijoic295amF2aSIsImEiOiJMVjUxV1hjIn0.Cmsx5TE3grlCl69EjIeAUA'></iframe>
  <div class="row" data-flex="vertical center">
    <h1>I'm currently in <strong class="color theme">Chiang Mai</strong>, Thailand</h1>
    <h5>
      <a href="mailto:javi.jimenez.villar@gmail.com">Feel free to contact me for <strong class="color theme">project inquiries</strong>.</a>
    </h5>
  </div>
</section>

<footer class="align center"><small>Made with ♥ by © <strong>Javi Jiménez</strong> 2014</small></footer>
