// Size
$unit: 1rem;
$offset: 6.4 * $unit;

// Colors
$background: #ffffff;
$text: rgb(56, 61, 72);
$text-secondary: #4d5957;
$primary                    : red;
$accent                     : #5AA3E8;
$dark                       : #3d3e41;

$white                      : #fff;
$black                      : #000;

$youtube                    : #cd201f;
$dribbble                   : #ea4c89;
$facebook                   : #3b5998;
$twitter                    : #55acee;
$github                     : #666666;
$linkedin                   : #0077b5;
$skype                      : #00aff0;
$instagram                  : #3f729b;

// FONT
$font-family                : 'Roboto Slab', serif;
$font-size                  : 2.0 * $unit;
$font-size-small            : 1.6 * $unit;
$font-size-tiny             : 1.3 * $unit;
$font-weight-light          : 300;
$font-weight-normal         : 400;
$font-weight-bold           : 700;

// ANIMATION
$animation-duration         : 350ms;
$animation-ease             : cubic-bezier(.55,0,.1,1);
