@font-face {
  font-family: 'icomoon';
  font-style: normal;
  font-weight: normal;

  src: url('/assets/fonts/icomoon.eot');
  src: url('/assets/fonts/icomoon.eot') format('embedded-opentype'), url('/assets/fonts/icomoon.woff') format('woff'), url('/assets/fonts/icomoon.ttf') format('truetype'), url('/assets/fonts/icomoon.svg') format('svg');
}

[class^="icon"], [class*=" icon"] {
  font-family: 'icomoon';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-transform: none;

  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon {
  &.skype:before {
    content: "\e900";
  }
  &.dribbble:before {
    content: "\e901";
  }
  &.facebook:before {
    content: "\e902";
  }
  &.github:before {
    content: "\e903";
  }
  &.google:before {
    content: "\e904";
  }
  &.instagram:before {
    content: "\e905";
  }
  &.linkedin:before {
    content: "\e906";
  }
  &.twitter:before {
    content: "\e907";
  }
  &.youtube:before {
    content: "\e908";
  }
}
