[data-page='landing'] {
  > section {
    position: absolute;
    right: $offset;
    bottom: $offset;
    left: $offset;
    display: flex;
    align-items: flex-end;
    padding-bottom: 0;

    flex-wrap: wrap;
    > * {
      flex-grow: 1;
    }
  }
}

@media all and (min-width: 769px) {
  $title-min-width: 300px;
  $title-max-width: 360px;
  [data-page='landing'] {
    > section {
      > .title {
        min-width: $title-min-width;
        max-width: $title-max-width;
      }
      > .navigation {
        margin-right: $unit * 4;
        align-content: flex-end;
        justify-content: flex-end;
      }
    }
  }
}

@media all and (max-width: 768px) {
  [data-page='landing'] {
    > section {
      right: $offset-mobile;
      bottom: $offset-mobile;
      left: $offset-mobile;
      > .navigation {
        margin-top: $offset-mobile;
      }
    }
  }
}
