[data-page='resume'] {
  > section {
    > .items {
      list-style: none;
      margin: 0;
      > li {
        margin-bottom: ($offset / 4);
        > span {
          margin: 0;
        }
      }
    }
  }
}

@media all and (min-width: 769px) {
  [data-page='resume'] {
    > section {
      display: flex;
      flex-direction: column;
      max-width: 960px;
      padding-top: ($offset / 2);
      margin: 0 auto;
      > h3, > p, > .items {
        padding-left: $title-fixed-width;
      }
      > h3:nth-child(n+3) {
        margin-top: ($offset / 2);
      }
    }
  }
}

@media all and (max-width: 768px) {
  [data-page='resume'] {
    > section {
      > * {
        padding-left: $offset-mobile;
        padding-right: $offset-mobile;
      }
      > .title, > h3 {
        padding-top: $offset-mobile;
        padding-bottom: 0;
      }
    }
  }
}
