[data-page='landing'] {
  > section {
    &[data-role='profile'] {
      text-align: center;
      background-image: url('/assets/images/soyjavi.jpg');
      background-position: 50% 50%;
      background-size: cover;
      > div {
        position: absolute;
        right: $offset;
        bottom: 0;
        left: $offset;
        color: white;
        text-shadow: $font-text-shadow;
        > strong {
          font-size: $font-size-small;
        }
        > nav {
          margin: ($offset / 2) 0;
          > a {
            margin: 0 ($offset / 5);
            font-size: 3.2 * $unit;
            font-weight: normal;
            color: $white;
            text-decoration: none;
            border-radius: 50%;
            transition: color $animation-duration $animation-ease;
            &.twitter:hover {
              color: $twitter;
            }
            &.facebook:hover {
              color: $facebook;
            }
            &.github:hover {
              color: $github;
            }
            &.instagram:hover {
              color: $instagram;
            }
            &.linkedin:hover {
              color: $linkedin;
            }
            &.skype:hover {
              color: $skype;
            }
            &.youtube:hover {
              color: $youtube;
            }
            &.dribbble:hover {
              color: $dribbble;
            }
          }
        }
      }
    }
    &[data-role='content'] {
      > article a {
        color: $text;
      }
      a {
        font-weight: $font-weight-bold;
        text-decoration: none;
      }
    }
  }
}

@media all and (min-width: 769px) {
  [data-page='landing'] {
    display: flex;
    flex-direction: row;
    > section {
      height: 100vh;
      &[data-role='profile'] {
        $min-width: 100vh;
        position: relative;
        min-width: $min-width;
        max-width: $min-width;
      }
      &[data-role='content'] {
        flex-grow: 1;
        overflow-y: scroll;
        > * {
          margin: $offset;
        }
      }
    }
  }
}

@media all and (max-width: 768px) {
  $offset: $offset / 2;
  [data-page='landing'] {
    display: block;
    > section {
      width: 100vw;
      &[data-role='profile'] {
        height: 50vh;
      }
      &[data-role='content'] {
        > * {
          margin: $offset;
        }
      }
    }
  }
}
