@media all and (min-width: 769px) {
  [data-page='blog'] {
    > section {
      max-width: 960px;
      padding-top: ($offset / 2);
      margin: 0 auto;
      > h3, > ul {
        padding: 0 $offset 0 $title-fixed-width;
      }
    }
  }
}

@media all and (max-width: 768px) {
  [data-page='blog'] {
    > section {
      > * {
        padding: $offset-mobile $offset-mobile 0 $offset-mobile;
      }
    }
  }
}
