html {
  font-family: sans-serif;
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

body {
  padding: 0;
  margin: 0;
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight-normal;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  > img {
    opacity: 0;
  }
  > section {
    padding-bottom: $footer-height;
  }
  > footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: $footer-height;
    line-height: $footer-height;
    border-top: solid 1px;

    > .navigation {
      max-width: 960px;
      margin: 0 auto;
    }
  }

  &:not(.night) {
    color: $text;
    background-color: $background;
    > footer {
      background-color: $background;
      border-top-color: $background-dark;
    }
  }

  &.night {
    color: $text-contrast;
    background-color: $background-contrast;
    > footer {
      background-color: $background-contrast;
      border-top-color: $background-contrast-dark;
    }
  }
}


h1, h2 {
  margin: 0;
  font-weight: $font-weight-normal;
}

h3 {
  margin: 0 0 ($offset / 3) 0;
  font-weight: $font-weight-bold;
  color: $accent;
}

small {
  font-size: $font-size-small;
}

p {
  margin: 0;
  + p {
    margin-top: $unit;
  }
}

a {
  text-decoration: none;
  &:not(.icon) {
    font-style: italic;
    color: $accent;
  }
}

.title {
  img {
    max-height: $offset;
    margin-bottom: ($offset / 3);
  }
  h1 {
    font-size: 3.8 * $unit;
    line-height: 1;
  }
  strong {
    margin: ($unit / 2) 0 ($offset / 2) 0 ;
    opacity: .9;
  }
  p {
    font-size: $font-size-small;
    color: $text-secondary;
  }
}

.navigation {
  display: flex;
  align-items: center;
  font-size: $font-size-small;
  > * {
    &:not(:first-child) {
      margin-left: $offset / 4;
    }
    &.icon {
      font-size: $font-size;
      color: $text-secondary;
    }
  }
}

.items {
  margin: 0;
  list-style: none;
  li {
    margin: 0 0 ($offset / 1.25) 0;
    > * {
      display: block;
    }
    h2 {
      > a {
        color: $text;
      }
    }
    .text-secondary {
      text-decoration: none;
      opacity: 0.75;
      * {
        font-style: inherit;
        color: $text;
      }
    }
    > span, > a {
      font-size: $font-size-small;
    }
    > span {
      padding: ($offset / 5) 0;
      color: $text-secondary;
      * {
        margin: 0;
      }
    }
  }
}

h3, .text-secondary {
  display: block;
  font-family: $font-family-secondary;
  font-size: $font-size-tiny;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

@media all and (min-width: 769px) {
  body {
    h1 {
      font-size: 8vh;
    }
    h2 {
      font-size: 2.2 * $unit;
    }
    .title.fixed {
      position: fixed;
      width: $title-fixed-width;
    }
  }
}

@media all and (max-width: 768px) {
  html {
    font-size: 57.5%;
  }

  body {
    h1 {
      font-size: 6vh;
    }
    h2 {
      font-size: 1.95 * $unit;
    }
    .title.fixed {
      border-bottom: solid 1px $background-dark;
      > p {
        display: none;
      }
    }
    > footer {
      padding-left: $offset-mobile;
    }
  }
}
