[data-page='resume'] {
  > section {
    > .items {
      list-style: none;
      margin: 0;
      > li {
        margin-bottom: ($offset / 4);

        &.book {
          display: flex;
          align-items: center;

          img {
            height: $unit * 9.6;
            margin-right: $unit;
          }
        }

        > span {
          margin: 0;
        }
      }
    }
  }
}

@media all and (min-width: 769px) {
  [data-page='resume'] {
    > section {
      display: flex;
      flex-direction: column;
      max-width: 960px;
      padding-top: ($offset / 2);
      margin: 0 auto;
      > h3, > p, > .items {
        padding-left: $title-fixed-width;
      }
      > h3:nth-child(n+3) {
        margin-top: ($offset / 2);
      }
      > .items.books {
        display: flex;
        flex-wrap: wrap;
        .book {
          max-width: 50%;
          min-width: 45%;
          &:nth-child(even) { margin-left: $unit; }
        }
      }
    }
  }
}

@media all and (min-width: 769px), print {
  [data-page='resume'] {
    > section {
      > .items.books {
        display: flex;
        flex-wrap: wrap;
        .book {
          max-width: 50%;
          min-width: 45%;
          &:nth-child(even) { margin-left: $unit; }
        }
      }
    }
  }
}

@media all and (max-width: 768px) {
  [data-page='resume'] {
    > section {
      > * {
        padding-left: $offset-mobile;
        padding-right: $offset-mobile;
      }
      > .title, > h3 {
        padding-top: $offset-mobile;
        padding-bottom: 0;
      }
    }
  }
}
