html {
  font-family: sans-serif;
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

body {
  padding: 0;
  margin: 0;
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight-normal;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  > img {
    opacity: 0;
  }

  > section {
    padding-bottom: $footer-height;

    > h3 {
      color: $accent;
      font-weight: $font-weight-bold;
    }
  }

  > footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: $footer-height;
    line-height: $footer-height;
    border-top: solid 1px;

    > .navigation {
      max-width: 960px;
      margin: 0 auto;
    }
  }

  &:not(.night) {
    color: $text;
    background-color: $background;
    > footer {
      background-color: $background;
      border-top-color: $background-dark;
    }

    a:not(.icon) {
      color: $accent;
    }
  }

  &.night {
    color: $text-contrast;
    background-color: $background-contrast;
    > footer {
      background-color: $background-contrast;
      border-top-color: $background-contrast-dark;
    }
    a:not(.icon) {
      color: $accent-night;
    }

    h3 {
      color: $accent-night;
    }
  }
}

h1, h2, h3, h4 {
  font-weight: $font-weight-normal;
  margin: 0;
}

h1, h2, h3 {
  text-transform: uppercase;
}

h3, h4 {
  font-size: $font-size-tiny;
}

small {
  font-size: $font-size-small;
}

p {
  margin: 0;
  + p {
    margin-top: $unit;
  }
}

a {
  text-decoration: none;
  &:not(.icon) {
    // font-style: italic;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
  }
}

.title {
  img {
    max-height: $offset;
    margin-bottom: ($offset / 3);
    border-radius: 50%;
    background-color: $black;
  }
  h1 {
    font-size: 3.8 * $unit;
    line-height: 1;
  }
  h3 {
    margin-bottom: $unit;
  }
  p {
    font-size: $font-size-small;
    color: $text-secondary;
  }
  .button:not(.icon) {
    display: inline-block;
    margin-bottom: $unit;
    margin-top: $unit;
    background-color: $accent;
    color: $white;
    padding: $unit;
    font-size: $font-size-tiny;
  }
}

.navigation {
  display: flex;
  align-items: center;
  font-size: $font-size-small;
  > * {
    &:not(:first-child) {
      margin-left: $offset / 4;
    }
    &.icon {
      font-size: $font-size;
      color: $text-secondary;
    }
  }
}

.items {
  margin: 0;
  list-style: none;
  li {
    margin: 0 0 ($offset / 1.25) 0;
    > * {
      display: block;
    }
    h2 {
      > a {
        color: $text;
      }
    }
    > span, > a {
      font-size: $font-size-small;
    }
    > span {
      padding: ($offset / 5) 0;
      color: $text-secondary;
      * {
        margin: 0;
      }
    }
  }
}

.summary {
  margin-bottom: $offset-mobile;
}

@media all and (min-width: 769px) {
  body {
    h1 {
      font-size: 8vh;
    }
    h2 {
      font-size: 2.2 * $unit;
    }
    .title.fixed {
      position: fixed;
      width: $title-fixed-width;
    }
  }
}

@media all and (max-width: 768px) {
  html {
    font-size: 57.5%;
  }

  body {
    h1 {
      font-size: 6vh;
    }
    h2 {
      font-size: 1.95 * $unit;
    }
    .title.fixed {
      border-bottom: solid 1px $background-dark;
      > p {
        display: none;
      }
    }
    > footer {
      padding-left: $offset-mobile;
    }
  }
}

@media print {
  html {
    font-size: 50%;
  }
  body {
    .title { padding-top: 0 !important; }
    > footer { display: none !important; }
  }
}
