$post-margin-line: $offset / 2;
$post-header-height: 75vh;
$post-header-padding: $offset;

[data-page='post'] {
  letter-spacing: -.063px;
  h1, h2 {
    font-weight: $font-weight-bold;
  }

  > section {
    > header {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      color: $white;
      text-shadow: $font-text-shadow;
      background-color: $dark;
      background-position: center center;
      background-size: cover;
      &:before {
        position: absolute;
        top: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
        content: " ";
        background-color: rgba(0,0,0,.5);
      }
      > * {
        z-index: 1;
      }
      > p {
        margin: 0;
      }
      > h1 {
        margin-bottom: $offset / 4;
        line-height: 1.1;
      }
    }
    > article {
      display: flex;
      flex-direction: column;
      align-content: center;
      align-items: center;
      justify-content: center;
      a {
        color: $text;
        text-decoration: none;
        background-image: linear-gradient(to bottom, rgba(0,0,0,0) 50%, rgba(0,0,0,.6) 50%);
        background-repeat: repeat-x;
        background-position: 0 22px;
        background-size: 2px 2px;
      }
      p {
        a > img, > img {
          width: 95%;
          margin: 0 2.5%;
        }
      }
      > blockquote {
        margin: $unit 0 $offset 0;
        font-style: italic;
        > blockquote {
          margin: 0 $offset;
          font-size: 2.4 * $unit;
          color: $text-secondary;
        }
        p {
          margin: 0;
        }
        > p {
          $border-width: 3px;
          $border-offset: 20px;
          padding-bottom: $border-width;
          padding-left: $border-offset;
          margin-left: -($border-offset + $border-width);
          border-left: $border-width solid $text-secondary;
        }
      }
      > h2 {
        margin: $post-margin-line 0 0 0;
      }
      > ul {
        > li {
          margin: 0 0 ($offset / 4) ($unit / 2);
          &:before {
            padding-top: .4 * $unit;
          }
        }
      }
      pre, code {
        font-family: Consolas, 'Liberation Mono', Courier, monospace;
      }
      pre {
        font-size: 1.3 * $unit;
      }
      p > code {
        padding: (.3 * $unit) (.6 * $unit);
        font-size: $font-size-small;
        background: rgb(248, 248, 248);
        border: 1px solid rgb(238, 238, 238);
        border-radius: 3px;
      }
      > p, pre {
        margin: 0 0 $post-margin-line 0;
      }
    }
  }
  > footer {
    background-color: $background-dark;
  }
}

.author {
  display: flex;
  align-items: center;
  padding: $offset 0;
  margin-top: ($offset / 2) !important;
  box-shadow: 0 -1px $divider;
  a {
    text-decoration: none;
    background: none !important;
  }
  > a {
    &, & > img {
      width: $offset;
      height: $offset;
    }
  }
  > div {
    display: flex;
    flex-direction: column;
    margin-left: $offset / 2;
    > small {
      font-size: $font-size-tiny;
      color: $text-secondary;
    }
  }
}

.summary {
  display: flex;
  background-color: $background-dark;
  box-shadow: inset 0 1px $divider, inset 0 -1px $divider;
  > a {
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    color: $text;
    text-align: center;
    &:hover {
      background-color: $divider;
    }
    &:nth-child(2) {
      box-shadow: -1px 0 $divider;
    }
    > small {
      font-size: $font-size-tiny;
      font-weight: $font-weight-normal;
      color: $text-secondary;
    }
  }
}

$post-width: 700px;
@media all and (min-width: 769px) {
  [data-page='post'] {
    > section {
      > header {
        height: $post-header-height;
        padding-bottom: $post-header-padding;
        > * {
          min-width: $post-width;
          max-width: $post-width;
        }
      }
      > article {
        margin-top: $post-header-padding;
        > * {
          min-width: $post-width;
          max-width: $post-width;
        }
      }
      .summary {
        > a {
          padding: $offset;
        }
      }
    }
  }
}

$post-width: 90vw;
@media all and (max-width: 768px) {
  [data-page='post'] {
    > section {
      > header {
        height: auto;
        padding-top: $post-header-padding;
        padding-bottom: 5vw;
        > * {
          min-width: $post-width;
          max-width: $post-width;
        }
        > p {
          font-size: 75%;
        }
      }
      > article {
        margin-top: 5vw;
        > p {
          text-align: justify;
        }
        > * {
          min-width: $post-width;
          max-width: $post-width;
        }
      }
      .summary {
        > a {
          padding: 5vw 2.5vw;
          > strong {
            font-size: 90%;
          }
        }
      }
    }
  }
}
