$hr-divider: #eee;

[data-partial='posts'] {
  padding: 0;
  list-style: none;
  li {
    margin: 0 0 ($offset / 1.25) 0;
    > * {
      display: block;
    }
    > small {
      max-height: 6.5 * $unit;
      margin: $unit 0;
      overflow: hidden;
      color: $text-secondary;
      text-overflow: wrap;
      * {
        margin: 0;
        font-weight: $font-weight-normal;
      }
    }
    > a, > span {
      font-size: $font-size-tiny;
    }
    > a {
      margin-bottom: $unit / 2;
      font-weight: $font-weight-bold;
      color: $primary;
    }
    > span {
      color: $text-secondary;
      > a {
        color: $accent;
      }
    }
  }
}

[data-partial='author'] {
  display: flex;
  align-items: center;
  padding: $offset 0;
  margin-top: ($offset / 2) !important;
  box-shadow: 0 -1px $hr-divider;
  a {
    text-decoration: none;
    background: none !important;
    &:hover {
      color: $primary;
    }
  }
  > a {
    &, & > img {
      width: $offset;
      height: $offset;
      border-radius: 50%;
    }
  }
  > div {
    display: flex;
    flex-direction: column;
    margin-left: $offset / 2;
    > small {
      font-size: $font-size-tiny;
      color: $text-secondary;
    }
  }
}

[data-partial='summary'] {
  display: flex;
  background-color: $background-dark;
  box-shadow: inset 0 1px $hr-divider, inset 0 -1px $hr-divider;
  > a {
    display: flex;
    flex-grow: 1;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: $offset;
    color: $text;
    text-align: center;
    &:hover {
      background-color: $hr-divider;
    }
    &:nth-child(2) {
      box-shadow: -1px 0 $hr-divider;
    }
    > small {
      font-size: $font-size-tiny;
      color: $text-secondary;
      font-weight: $font-weight-normal;
    }
  }
}
