extends /base

block CSS

block HTML
  header
    h1
      | JAVI JIMENEZ
    small.color.green
      | MAKE STUFF FOR OTHERS
    nav.float.right
      a.icon.github(href="https://github.com/soyjavi", target="_blank")
      a.icon.twitter(href="https://twitter.com/soyjavi", target="_blank")
      a.icon.tapquo(href="http://tapquo.com", target="_blank")

  section.landing.filter(data-stellar-background-ratio="0.6")
    figure.glass
    .wrapper.align.center
      h1.font.weight.bold JAVI JIMENEZ
      small.color.green
        | MAKE STUFF FOR OTHERS •
        a.color.green(href="/") @soyjavi
      nav
        a.icon.github(href="https://github.com/soyjavi", target="_blank")
        a.icon.twitter(href="https://twitter.com/soyjavi", target="_blank")
        a.icon.tapquo(href="http://tapquo.com", target="_blank")

      .more scroll down to learn more

  section.bck.dark
    .wrapper
      h3.align.center.margin.bottom
        | This site is my
        span.color.green  personal
        |  design playground. I created it to encourage myself to keep having
        | fun with design – to experiment and
        span.color.green  explore
        |  the craft outside of my comfort zone.
      p.col.half
        | I consider myself a maverick by nature and therefore I always going
        | against the grain. I try to improve my knowledge and thinking for new
        | ways to create software. In 2011 I founded Tapquo, a small company
        | specializing in the creation of products for internet, which has given
        | me the opportunity to create solutions for thousands of people around
        | the world.
      p.col.half
        | I am currently researching new ways of working through the software.
        | My adventure is giving me the opportunity to travel around the world
        | looking for new poles of creation, innovation and improvement.
        | Everyday I remember only live once and we should achieve our dreams.
        | I'm living mine today and I feel lucky.

  section.bck.green
    .wrapper
      h2.align.center.margin.bottom
        | I'm currently building:
      .col.third
        h3 Tools & Libraries
        nav.list
          a(href="http://github.com/soyjavi" target="_blank")
            | Zen Server
            span Coming Soon
          a(href="http://atoms.tapquo.com/" target="_blank") Atoms
          a(href="http://quojs.tapquo.com/" target="_blank") QuoJS
          a(href="http://tuktuk.tapquo.com/" target="_blank") TukTuk
          a(href="http://lungo.tapquo.com/" target="_blank") Lungo
          a(href="http://monocle.tapquo.com/" target="_blank") Monocle

      .col.third
        h3 Web Products
        nav.list
          a(href="http://nomada.io" target="_blank")
            | Nomada
            span COMING SOON
          a(href="http://mentorco.de" target="_blank")
            | Mentorcode
            span COMING SOON
          a(href="http://atoms.tapquo.com" target="_blank")
            | Atoms.Editor
          a(href="http://nomadco.de" target="_blank")
            | Nomadcode
          a(href="http://devcast.co" target="_blank")
            | Devcast

      .col.third
        h3 Books
        nav.list
          a(href="https://leanpub.com/nomadasdigitales" target="_blank")
            | Nómadas digitales
            span COMING SOON
          a(href="https://leanpub.com/ecmascript6" target="_blank")
            | EcmaScript 6
            span COMING SOON
          a(href="https://leanpub.com/coffeescript" target="_blank")
            | Little Book of CoffeeScript


  section.bck.grey
    .wrapper
      h3.align.center.margin.bottom
        | I am a human with a purpose, I love sharing the knowledge
      .col.third
        h2 Teach
        nav.list
          a(href="http://www.postgrado.deusto.es/cs/Satellite/estudiantes/es/buscador-de-postgrados/diploma-de-especializacion-en-soluciones-software-para-internet-/programa" target="_blank")
            | Postgraduate University of Deusto
            span COLLEGE
          a(href="http://ironhack.com" target="_blank")
            | IronHack
            span COURSE


      .col.third
        h2 Speak
        nav.list
          a(href="https://www.youtube.com/watch?v=tTTLqMw0dys" target="_blank")
            | DevUp12: El futuro de la Web
            span ROUND TABLE
          a(href="https://www.youtube.com/watch?v=9-QTm_PKboQ" target="_blank")
            | HTML5 Responsive Developer
            span HTML5
          a(href="https://www.youtube.com/watch?v=-5oUAN93L4k" target="_blank")
            | Google DevFest '12
            span MOBILE
          a(href="http://www.ustream.tv/recorded/50260074" target="_blank")
            | WeLoveJS Summer 2014
            span PATTERNS
          a(href="https://www.youtube.com/playlist?list=PLfV0zqBbpS8ieYtbqUlO1gwqQbxKH28Vu" target="_blank")
            | DesarrolloWeb Hangouts
            span MOBILE
          a(href="https://www.youtube.com/watch?v=a1KN1xwmg1c" target="_blank")
            | BilboStack
            span MOBILE
          a(href="http://bambuser.com/v/3964261" target="_blank")
            | Anesvad Hack4Health
            span HACKS

      .col.third
        h2 Read
        nav.list
          a(href="http://www.elmundo.es/elmundo/2012/02/13/paisvasco/1329124434.html" target="_blank")
            | Una tecnología más rentable
            span NEWSPAPER
          a(href="http://www.elmundo.es/elmundo/2012/02/13/paisvasco/1329124434.html" target="_blank")
            | Se hace fuerte en el mercado
            span NEWSPAPER
          a(href="http://www.genbetadev.com/entrevistas/entrevista-a-javier-jimenez-villar-autor-de-lungojs" target="_blank")
           | GenbetaDev
           span Interview
          a(href="http://gananzia.com/tapquo-y-el-futuro-movil" target="_blank")
            | Tapquo y el futuro móvil
            span POST


  nav.align.center
    a(href="mailto:projects@soyjavi.com")
      | < Contact for
      span Project Inquiries
    a(href="mailto:speaking@soyjavi.com")
      | Contact for
      span Speaking Engagements >

  footer.copyright
    .wrapper
      img(src="/img/avatar_soyjavi.jpg")
      a.icon.twitter(href="https://twitter.com/soyjavi" target="_blank")
      a.icon.github(href="https://github.com/soyjavi" target="_blank")
      a.icon.bitbucket(href="https://bitbucket.com/soyjavi" target="_blank")
      a.icon.instagram(href="http://instagram.com/soyjavi" target="_blank")
      a.icon.linkedin(href="https://www.linkedin.com/in/soyjavi" target="_blank")
      a.icon.pen(href="https://medium.com/@soyjavi" target="_blank")
      span © Javi Jiménez 2014

block JS
