extends /base

block CSS

block HTML
  header
    h1
      | JAVI JIMENEZ
    small.color.green
      | MAKE STUFF FOR OTHERS
    nav.float.right
      a.icon.github(href="https://github.com/soyjavi", target="_blank")
      a.icon.twitter(href="https://twitter.com/soyjavi", target="_blank")
      a.icon.tapquo(href="http://tapquo.com", target="_blank")

  section.landing(data-stellar-background-ratio="0.6")
    figure.glass
    .wrapper.align.center
      h1.font.weight.bold JAVI JIMENEZ
      small.color.green
        | MAKE STUFF FOR OTHERS •
        a.color.green(href="/") @soyjavi
      nav
        a.icon.github(href="https://github.com/soyjavi", target="_blank")
        a.icon.twitter(href="https://twitter.com/soyjavi", target="_blank")
        a.icon.tapquo(href="http://tapquo.com", target="_blank")

      .more scroll down to learn more

  section.bck.dark
    .wrapper
      h3.align.center.margin.bottom
        | This site is my
        span.color.green  personal
        |  design playground. I created it to encourage myself to keep having fun with design – to experiment and
        span.color.green  explore
        |  the craft outside of my comfort zone.
      p.col.half
        | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
      p.col.half
        | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.

  section.bck.green
    .wrapper
      h2.align.center.margin.bottom
        | I'm currently building:
      .col.third
        h3 Tools & Libraries
        nav.list
          a(href="http://atoms.tapquo.com/" target="_blank") Atoms
          a(href="http://quojs.tapquo.com/" target="_blank") QuoJS
          a(href="http://tuktuk.tapquo.com/" target="_blank") TukTuk
          a(href="http://lungo.tapquo.com/" target="_blank") Lungo
          a(href="http://monocle.tapquo.com/" target="_blank") Monocle

      .col.third
        h3 Web Products
        nav.list
          a(href="http://nomada.io" target="_blank")
            | Nomada
            span COMING SOON
          a(href="http://mentorco.de" target="_blank")
            | Mentorcode
            span COMING SOON
          a(href="http://atoms.tapquo.com" target="_blank")
            | Atoms.Editor
          a(href="http://nomadco.de" target="_blank")
            | Nomadcode
          a(href="http://devcast.co" target="_blank")
            | Devcast

      .col.third
        h3 Books
        nav.list
          a(href="https://leanpub.com/nomadasdigitales" target="_blank")
            | Nómadas digitales
            span COMING SOON
          a(href="https://leanpub.com/ecmascript6" target="_blank")
            | EcmaScript 6
            span COMING SOON
          a(href="https://leanpub.com/coffeescript" target="_blank")
            | Little Book of CoffeeScript


  section.bck.grey
    .wrapper
      h3.align.center.margin.bottom
        | Shows, interviews, talks and writings from me.
      .col.third
        h2 Teaching
        nav.list
          a(href="")
            | IronHack
          a(href="")
            | Developer Master of Deusto


      .col.third
        h2 Read
        nav.list
          a(href="http://www.genbetadev.com/entrevistas/entrevista-a-javier-jimenez-villar-autor-de-lungojs") GenbetaDev Interview
      .col.third
        h2 Watch
        nav.list
          a(href="https://www.youtube.com/watch?v=tTTLqMw0dys") DevUp12 Mesa redonda: El futuro de la Web
          a(href="https://www.youtube.com/watch?v=9-QTm_PKboQ") HTML5 Responsive Developer
          a(href="https://www.youtube.com/watch?v=a1KN1xwmg1c") BilboStack

  nav.bck.green.align.center
    a(href="")
      | < Contact for
      span Project Inquiries
    a(href="")
      | Contact for
      span Speaking Engagements >

  footer.copyright
    .wrapper
      img(src="/img/avatar_soyjavi.jpg")
      a.icon.twitter(href="https://twitter.com/soyjavi" target="_blank")
      a.icon.github(href="https://github.com/soyjavi" target="_blank")
      a.icon.bitbucket(href="https://bitbucket.com/soyjavi" target="_blank")
      a.icon.instagram(href="http://instagram.com/soyjavi" target="_blank")
      a.icon.linkedin(href="https://www.linkedin.com/in/soyjavi" target="_blank")
      a.icon.pen(href="https://medium.com/@soyjavi" target="_blank")
      span © Javi Jiménez (@soyjavi) 1980-2014

block JS
