extends /base

block CSS

block HTML
  header
    h1
      | JAVI JIMENEZ
    small.color.green
      | MAKE STUFF FOR OTHERS
    nav.float.right
      a(href="/") @soyjavi
      a(href="/") ···

  section.landing(data-stellar-background-ratio="0.6")
    .wrapper.align.center
      h1.font.weight.bold JAVI JIMENEZ
      small.color.green
        | MAKE STUFF FOR OTHERS •
        a.color.green(href="/") @soyjavi
      nav
        a.icon.github(href="https://github.com/soyjavi", target="_blank")
        a.icon.twitter(href="https://twitter.com/soyjavi", target="_blank")
        a.icon.tapquo(href="http://tapquo.com", target="_blank")

      .more scroll down to learn more

  section.bck.dark
    .wrapper
      h3.align.center.margin.bottom
        | This site is my
        span.color.green  personal
        |  design playground. I created it to encourage myself to keep having fun with design – to experiment and
        span.color.green  explore
        |  the craft outside of my comfort zone.
      p.col.half
        | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
      p.col.half
        | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.

  section.bck.green
    .wrapper
      h2.align.center.margin.bottom
        | I'm currently building:
      .col.third
        h3 Tools & Libraries
        nav.list
          a(href="http://atoms.tapquo.com/") Atoms
            span COMING SOON
          a(href="http://quojs.tapquo.com/") QuoJS
          a(href="http://tuktuk.tapquo.com/") TukTuk
          a(href="http://lungo.tapquo.com/") Lungo
          a(href="http://monocle.tapquo.com/") Monocle

      .col.third
        h3 Web Products
        nav.list
          a(href="http://atoms.tapquo.com/") Nomadcode
            span COMING SOON
          a(href="http://atoms.tapquo.com/") Mentorcode
            span COMING SOON
          a(href="http://atoms.tapquo.com/") Atoms.Editor
          a(href="http://devcast.co") Devcast
          a(href="http://slid.us") Slid.us

      .col.third
        h3 Books
        nav.list
          a(href="https://leanpub.com/ecmascript6")
            | EcmaScript 6
            span COMING SOON
          a(href="https://leanpub.com/nomadasdigitales")
            | Nómadas digitales
            span COMING SOON
          a(href="https://leanpub.com/coffeescript") Little Book of CoffeeScript


  section.bck.grey
    .wrapper
      h3.align.center.margin.bottom
        | Shows, interviews, talks and writings from me.
      .col.third
        h2 Listen
        nav.list
          a

      .col.third
        h2 Read
        nav.list
          a(href="http://www.genbetadev.com/entrevistas/entrevista-a-javier-jimenez-villar-autor-de-lungojs") GenbetaDev Interview
      .col.third
        h2 Watch
        nav.list
          a(href="https://www.youtube.com/watch?v=tTTLqMw0dys") DevUp12 Mesa redonda: El futuro de la Web
          a(href="https://www.youtube.com/watch?v=9-QTm_PKboQ") HTML5 Responsive Developer
          a(href="https://www.youtube.com/watch?v=a1KN1xwmg1c") BilboStack

  nav.bck.green.align.center
    a(href="")
      | < Contact for
      span Project Inquiries
    a(href="")
      | Contact for
      span Speaking Engagements >

  footer.copyright
    .wrapper
      img(src="/img/avatar_soyjavi.jpg")
      a.icon.twitter()
      a.icon.github()
      a.icon.bitbucket()
      a.icon.instagram()
      a.icon.linkedin()
      a.icon.pen()
      span © Javi Jiménez (@soyjavi) 1980-2014

block JS
