<!DOCTYPE html>
<html>
  {% include head.html %}
  <body data-page="{% if page.layout %}{{ page.layout }}{% else %}{{ site.layout }}{% endif %}">
    {% include ga.html %}

    <section data-role='profile'>
      <div>
        <h1>Javi Jimenez</h1>
        <strong>A self-taught human, in love with creating new stuff.</strong>
        <nav>
          <a href="https://github.com/soyjavi" class="icon github" target="_blank"></a>
          <a href="https://twitter.com/soyjavi" class="icon twitter" target="_blank"></a>
          <a class="icon linkedin" href="https://linkedin.com/in/soyjavi" target="_blank"></a>
        </nav>
      </div>
    </section>

    <section data-role='content'>
      <article>
        {{ content }}
      </article>

      {% include posts.html %}
      {% include footer.html %}
    </section>
  </body>
</html>
