<!DOCTYPE html>
<html>
  {% include head.html %}
  <body data-page="{% if page.layout %}{{ page.layout }}{% else %}{{ site.layout }}{% endif %}">
    {% include header.html %}
    {% include ga.html %}

    <section>
      <header style="background-image: url('/assets/images/covers/{{page.cover}}');">
        <h1 class="post-header__title">{{ page.title }}</h1>
        <p class="post-header__date">
          {{ page.date | date: '%B %d, %Y' }}
          {% if page.where %} - {{ page.where }}{% else %}{{ site.where }}{% endif %}
        </p>
        <p class="post-header__tags"></p>
      </header>
      <article>
        {{ content }}
      </article>
      <nav>
        {% if page.previous or page.next %}
          <ul class="post-footer">
            {% if page.previous %}
              <li class="post-footer__item">
                <a href="{{ page.previous.url }}" class="post-footer__link">
                  <p class="post-footer__subtitle">Previous</p>
                  <p class="post-footer__title">{{ page.previous.title }}</p>
                </a>
              </li>
            {% endif %}

            {% if page.next %}
              <li class="post-footer__item">
                <a href="{{ page.next.url }}" class="post-footer__link">
                  <p class="post-footer__subtitle">Next</p>
                  <p class="post-footer__title">{{ page.next.title }}</p>
                </a>
              </li>
            {% endif %}
          </ul>
        {% endif %}


      </nav>
      {% include footer.html %}
    </section>
  </body>
</html>
