body

  > section
    height: 100vh


    &:nth-child(n+1)
      background-color: red
    &:nth-child(n+2)
      background-color: green
    &:nth-child(n+3)
      background-color: magenta
    &:nth-child(n+4)
      background-color: yellow
    &:nth-child(n+5)
      background-color: orange
